@{
  Layout = "_Layout";
}

@model RecipeBook.Models.Recipe

<h4>Create a new Recipe</h4>

@using (Html.BeginForm())
{

    @Html.LabelFor(model => model.RecipeName)
    @Html.TextBoxFor(model => model.RecipeName)

    @Html.LabelFor(model => model.Description)
    @Html.TextArea(model => model.Description) //might be TestAreaFor

    @Html.Label("Select Category")
    @Html.DropDownList("CategoryId")

    @Html.Label("Select Rating")
    @Html.RadioButtonFor(model => model.StarRating,"1 Star")
    @Html.RadioButtonFor(model => model.StarRating,"2 Star")
    @Html.RadioButtonFor(model => model.StarRating,"3 Star")
    @Html.RadioButtonFor(model => model.StarRating,"4 Star")
    @Html.RadioButtonFor(model => model.StarRating,"5 Star")

    <input type="submit" value="Create Recipe" class="btn btn-default" />
}
<p>@Html.ActionLink("Show all Recipes", "Index")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>