@{
  Layout = "_Layout";
}

@using RecipeBook.Models;
@model List<RecipeBook.Models.Recipe>;

<h1>Recipes:</h1>

@if (@Model.Count == 0)
{
  <h3>No Recipes have been created yet...</h3>
}

@foreach(Recipe recipe in Model)
{
  <li>@Html.ActionLink($"{recipe.RecipeName}", "Details", new { id = recipe.RecipeId })</li>
    @using (Html.BeginForm("Delete", "Recipes", FormMethod.Get))
  {
    @Html.Hidden("id", @recipe.RecipeId)
    <input type="submit" value="Remove Recipe" class="btn btn-default"/>
  }
}

<p>@Html.ActionLink("Add New Recipe", "Create")</p>
<p>@Html.ActionLink("Best Of Recipes", "BestOf")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
<p>@Html.ActionLink("Search By Ingredient", "SearchBy")</p>
